section{
    width: 100px;
    height: 400px;

    border: 1px dashed gainsboro;
    background-color: aliceblue;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

section > div {
    margin: 20px;
    font-size: large;

}
#msg{
    font-size: xx-larger;
    font-weight: bold;
    
}
button